In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('../data/userDataRecency.csv')

df['time_of_day'] = pd.Categorical(df['time_of_day'], categories=['Morning', 'Afternoon', 'Evening', 'Night'])
df

                                     food_name time_of_day  recency_days
0    scoop of optimum nutrition protein powder     Morning           1.0
1                                 cups of milk     Morning           1.0
2                                 black coffee     Morning           1.0
3                                  cup of milk     Morning           1.0
4                                chicken tacos     Evening           1.0
..                                         ...         ...           ...
382          fairlife 2 percent chocolate milk     Evening           0.0
383                                    chicken     Evening           0.0
384                      small flour tortillas     Evening           0.0
385          2 percent fairlife chocolate milk     Evening           0.0
386                                  pop tarts     Evening           0.0

[387 rows x 3 columns]