In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('./data/userData.csv')

# df.groupby(['weekday', 'time_of_day']).count()

df[df['time_of_day'] == 'Evening']

                                           food_name time_of_day   weekday
7    free birds burrito with chicken, rice and queso     Evening    Friday
8                                          sweet tea     Evening  Saturday
18                             3 chocolate doughnuts     Evening    Sunday
19                                         sweet tea     Evening    Friday
58                                        collachies     Evening    Sunday
..                                               ...         ...       ...
351                                             milk     Evening  Saturday
353                              kodiak cake waffles     Evening    Sunday
354                  optimum nutrition scoop of whey     Evening    Sunday
355                                     cups of milk     Evening    Sunday
357      optimum nutrition shake with 2 cups of milk     Evening   Tuesday

[92 rows x 3 columns]